body {
    display: flex;
    flex-direction: column;
}

.globalNavigation{
    min-height: 50px;
    height: 10vh;
    background-color: #888;
    color: #fff;
    position: relative;
}

#text {
    font-size: clamp(16px, 3vh, 100vh);
    
    text-align: center;
}

main {
    min-height: 100vh;
    display: flex;
    margin-top: 10px;
}

.localNavigation {
    display: none;
}

.contents {
    flex: 1;
    text-align: center;
}

.nav {
    position: absolute;
    top: 50%;
    left: 0 auto;
}

.drawer_hidden {
    display: none;
}

.drawer_open {
    display: flex;
    margin-left: 25px;
    position: relative;
    z-index: 100;
    cursor: pointer;
}

.drawer_open span,
.drawer_open span::after,
.drawer_open span::before {
    content: "";
    display: block;
    height: 3px;
    width: clamp(25px, 5vw, 30px);
    border-radius: 15px;
    background: #fff;
    transition: 0.4s;
    position: absolute;
}

.drawer_open span::before {
    bottom: clamp(10px, 1vh, 100vh);
}

.drawer_open span::after {
    top: clamp(10px, 1vh, 100vh);
}

#drawer_input:checked ~ .drawer_open span{
    background: rgba(255, 255, 255, 0);
}

#drawer_input:checked ~ .drawer_open span::before{
    bottom: 0;
    transform: rotate(45deg);
}

#drawer_input:checked ~ .drawer_open span::after{
    top: 0;
    transform: rotate(-45deg);
}

#cards {
    width: 98vw;
    height: 100vh;
    background: rgba(136, 136, 136, 0.5);
    position: fixed;
    margin-left: 10px;
    left: 100%;
    z-index: 99;
    overflow-y: scroll;
}

#cards.active {
    left: 0;
}

.card {
    width: 73px;
    height: 73px;
    margin-top: 3vh;
    float: left;
    background: #eee;
    background-size: cover;
    margin-left: 10px;
    background-size: 100%;
    font-size: 0;
    
}

.member {
    width: 16.5%;
    padding-top: 16.5%;
    margin-top: 3vh;
    float: left;
    background: #eee;
    background-size: cover;
    position: relative;
}

#member_first {
    margin-left: 2.5vw;
    --focus: 0;
    outline: var(--focus);
}

#member_second,
#member_third,
#member_fourth,
#member_fifth {
    margin-left: 2vw;
    --focus: 0;
    outline: var(--focus);
}

.skill {
    display: flex;
    align-items: center;
    width: 95%;
    height: 16%;
    position: absolute;
    padding-left: 5%;
    letter-spacing: 2px;
    bottom: 22%;
    color: whitesmoke;
    font-weight: bold;
    font-size: 2vw;
    --bg-color: #eee;
    background-color: rgba(61, 61, 61, 0.85);
    user-select: none;
}

.master {
    width: 32%;
    height: 32%;
    position: absolute;
    bottom: 6%;
    right: 0%;
    background-image: url('https://static.wikitide.net/projectsekaiwiki/b/be/Master_Ranks.png');
    background-size: 530%;
    font-size: 0;
    --bg-position: 0%;
    --bg-opacity: 0;
    background-position: var(--bg-position);
    opacity: var(--bg-opacity);
}

.canvas {
    width: 30%;
    height: 30%;
    position: absolute;
    top: 0%;
    right: 0%;
    --bg-image: url('../images/canvas_no.png');
    background-image: var(--bg-image);
    background-size: 100%;
    font-size: 0;
}

.performance {
    width: 3.7%;
    padding-top: 3.7%;
    margin-top: 10px;
    position: relative;
    float: left;
    background-image: url('../images/performance.png');
    background-size: 100%;
}

#perform_all,
#perform_first {
    margin-left: 3.2vw;
}

#perform_second,
#perform_third,
#perform_fourth,
#perform_fifth {
    margin-left: 2vw;
}

.perform_num {
    width: 12.6%;
    margin-top: 7px;
    letter-spacing: 0.2vw;
    float: left;
    color: #6c6c6c;
    font-weight: bold;
    font-size: 3vw;
    user-select: none;
}

#perform_num_first {
    margin-left: 0.1vw;
}

#perform_num_all {
    float: none;
    margin-left: 6vw;
}

#perform_num_second,
#perform_num_third,
#perform_num_fourth,
#perform_num_fifth {
    margin-left: 0.1vw;
}